.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  margin: 1rem;
  border-radius: 5px;
  padding: 1rem;

  background-color: #e1e2e1;
}

.app-section > * {
  margin: 0.25rem;
}
